html{
	box-sizing: border-box;
}

*,*::before, *::after{
box-sizing: inherit;
	}

body{
	margin: 0;
	font-family: Contrail, sans-serif;
}

.body{
	display: block;
	width: 320px;
}

.robot{
	position: relative;
	width: 320px;
	padding-top: 70px;

	margin: 0 auto;
}

.brain {
	width: 46px;
	position: absolute;
	left:136px;
	top: 80px;
	transition: all 200ms linear;

}


.left, .right {
	width: 125px;
	transition: all 200ms linear;
}

.left{
	position: absolute;
	top: 35px;
	left: 38px;
}

.right{
	position: absolute;
	top: 35px;
	right: 38px;

}

.main{
	background-color: darkblue;
}

footer{
	color: #fff;
	background: #000;
	width: 100%;
	float: left;
	text-align: center;
}

.robot:hover .left{
left: 10px;
}

.robot:hover .right{
	right: 10px;
}

.robot:hover .brain{
	top: 50px;
}
